img {
  max-width: 100%;
  height: auto;
}

body {
    background-color: #F8DFDB;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #000000;
  }
  
  
  h1, h2, h3, h4 {
    font-family: 'Inter', sans-serif;
    line-height: 1.4;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  
  h1 {
    font-size: 3.8em;
    font-weight: 700;
  }
 
  h2 {
    font-size: 3.8em;
    font-weight: 700;
  }
  
    h3 {
    font-size: 2.5em;
    font-weight: 700;
  }
  
  h4 {
    font-size: 2em;
    font-weight: 400;
  }
  
  h5 {
    font-size: 1.5em;
    font-weight: 400;
  }
  
  .button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F8DFDB; /* Button background color */
    color: #EC008C; /* Button text color */
    text-decoration: none; /* Remove underline */
    border: 1px solid #EC008C; /* Add border */
    border-radius: 5px; /* Rounded corners */
  }
  
  .button-link:hover {
    background-color: #FFA0D8; /* Hover background color */
    color: #EC008C; /* Button text color */
    text-decoration: none; /* Remove underline */
    border: 1px solid #EC008C; /* Add border */
    border-radius: 5px; /* Rounded corners */
  }
  .button-link:active {
    background-color: #EC008C; /* Change background color when clicked */
    color: #FFF; /* Change text color when clicked */
    border: 1px solid #000; /* Change border when clicked */
  }

  a {
    color: #0000EE;
    text-decoration: underline
  }
  a:hover {
    color: #000079;
    text-decoration: underline;
  }

  a:visited { /* visited link */
    color: #551A8B;
  }
  a:active { /* selected link */
    color: #EE0000
  }
  /* Layout styling */
* {
  box-sizing: border-box;
}
.logo {
  width: 100px; 
  height: auto; /* Maintain the aspect ratio */
}

a.logo.linkedin-logo img {
  width: 40px;
}

a.logo.email-logo img {
  width: 50px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

main {
  padding-top: 0px;
}


nav {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 8px; 
}

a.logo.reside-home-page img {
  width: 100px; 
  height: auto; /* Maintain the aspect ratio */
}

a.logo.fairwind-home-page img {
  width: 100px; 
  height: auto; /* Maintain the aspect ratio */
}
.container {
	max-width: 1200px; 
	margin: 0 auto;
	padding: 0 10px;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  #hero span {
    display: block;
  }
  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}